---
---

body {
    font-family: "Lato", sans-serif;
    font-size: 16px;
}

.dim {
    opacity: 0.6;
    filter: alpha(opacity=60);
}

a {
    color: #fff;

    &:hover {
        color: #196090;
        text-decoration: none;
    }
}

.social-links {
	.list-inline-item {
		padding: 6px;
	}
	i {
		font-size: 32px;
	}
}

.mt-12 {
    margin-top: 12rem !important;
}

.mt-6 {
    margin-top: 4rem !important;
}

.mb-6 {
    margin-bottom: 6rem !important;
}

@media (min-width: 768px) {
    .mt-md-12 {
        margin-top: 12rem !important;
    }
}

.nav-item {
	i {
		&.fa, &.fas, &.far, &.fab {
			font-size: 1.5em;
		}
	}
}
.img-max-height {
    max-height: 150px;
}

.profile-header-backdrop {
    position: relative;
    display: table;
    width: 100%;
    height: 500px;
    background-size: cover;
}

.profile-header {
    font-family: 'Oswald',sans-serif;
    text-align: center;

    h1 {
        font-weight: 300;
        font-size: 60px;
    }

    h3 {
        font-weight: 300;
        font-size: 18px;
    }
}

@media (min-width: 576px) {
	.profile-header {
		h1 {
			font-size: 70px;
		}

		h3 {
			font-size: 24px;
		}
	}
	
	.social-links {
		.list-inline-item {
			padding: 12px;
		}
	}
}

.block {
    position: relative;
    width: 100%;
    padding: 60px 30px;
    color: inherit;
    background-color: #fff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .item-header {
        font-size: 18px;
    }

    h4 {
        font-size: 20px;
    }
}

@media (min-width: 576px) {
    .block:not(.block-secondary) .lead {
        font-size: 1.5rem;
    }
}

.block-inverse {
    color: #ffffff;
    background-color: #000000;
}

.block-angled:before,
.block-bordered:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    content: '';
    width: 33%;
    margin: 0 auto;
    border-top: 1px solid;
    border-top-color: #ccc;
    border-top-color: rgba(0, 0, 0, 0.1);
}

.block-angled:before {
    width: 80%;
}

.list-style-square {
    list-style: square;
}

.card {
    border: none;
}

.items-list {
    .list-item {
        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }

        .item-header {
            font-size: 18px;
            font-weight: 700;
        }

        .item-subheader {
            font-size: 18px;
        }
    }
}

.items-sub-list {
    > li:not(:last-child) {
        margin-bottom: 1rem;
    }
}

.items-sub-list-bordered {
    > li:not(:last-child) {
        border-bottom: 1px solid;
        border-bottom-color: #ccc;
        border-bottom-color: rgba(0, 0, 0, 0.1);
        margin-bottom: 1rem;
    }
}
